[Unit]
Description=QEMU - VM8
After=docker.service

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull ulexus/qemu
ExecStart=/usr/bin/docker run --rm --net=host -e BRIDGE_IF=public --privileged --name qemu-%i -v /etc/ceph:/etc/ceph ulexus/qemu -vnc 127.0.0.1:8 -k en-us -usbdevice tablet -m 512 -cpu qemu64 -netdev bridge,br=public,id=net0 -device virtio-net,netdev=net0,mac=00:0c:29:c9:22:08 -drive format=rbd,file=rbd:vms/vm8,cache=writeback,if=virtio
ExecStop=/usr/bin/docker stop qemu-%i
