[Unit]
Description=QEMU - INSTANCE_NAME
After=docker.service

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm qemu-%i
ExecStartPre=/usr/bin/docker pull ulexus/qemu
ExecStart=/usr/bin/docker run --privileged --name qemu-%i ulexus/qemu KVM_OPTIONS
ExecStop=/usr/bin/docker stop qemu-%i
